[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/bprather/parthenon.git
	branch = kharma-expt-17
[submodule "external/variant"]
	path = external/variant
	url = https://github.com/bprather/variant.git
        branch = kharma-expt
[submodule "external/hpcbind"]
	path = external/hpcbind
	url = https://github.com/kokkos/hpcbind.git
[submodule "external/hdf5"]
	path = external/hdf5
	url = https://bitbucket.hdfgroup.org/scm/hdffv/hdf5.git
